aiosqlite==0.19.0
apscheduler==3.10.1
bcrypt==4.0.1
boto3==1.26.142
cryptography==40.0.2
fastapi-users-db-sqlalchemy==5.0.0
gunicorn==20.1.0
httptools==0.5.0
httpx==0.24.1
itsdangerous==2.1.2
pip-chill==1.0.3
plaid-python==14.0.0
pytest-asyncio==0.21.0
python-dotenv==1.0.0
python-jose==3.3.0
pyyaml==6.0
ruff==0.1.7
uvicorn==0.22.0
watchfiles==0.19.0
websockets==11.0.3
